{% load static %}

<style>

.btn-green{
background-color:#008000
;color: #FFF;
}

.btn-green:hover{
color:#fff;
background-color: #009900;
border-color: #008000;
}
</style>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-1">Portal Administrativo</h1>
      <h3>Olá {{ user.first_name.capitalize }}!</h3>
  </div>
</main>
<br>

<div class="btn-group btn-group-lg" role="group">
    <div class="col-md-12 text-center">

            <a role="button" type="submit" href="{% url 'alterar_senha'%}" name="senha" class="btn btn-green text-white">Alterar Senha</a>

            <a role="button" type="submit" href="{% url 'editar_usuario'%}" name="nome" class="btn btn-green text-white">Alterar Dados</a>

    </div>
</div>
