{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_header.html' %}

<style>

.btn-green{
background-color:#008000
;color: #FFF;
}

.btn-green:hover{
color:#fff;
background-color: #009900;
border-color: #008000;
}

</style>

<main role="main">
    <div class="container">
        <div class="contact-area">
            <div class="container mt-4">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <h2>Criar conta</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="contact-form-area">
                            <form action="{% url 'cadastro' %}" method="POST">

                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        {{new_user.first_name.label_tag}}
                                        {{new_user.first_name}}
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        {{new_user.last_name.label_tag}}
                                        {{new_user.last_name}}
                                    </div>
                                    <div class="col-12 col-lg-12">
                                        {{new_user.email.label_tag}}
                                        {{new_user.email}}
                                    </div>

                                    {% for error in new_user.email.errors %}
                                    <section class="alert alert-danger col-12" role="alert">
                                        {{ new_user.email.errors }}
                                    </section>
                                    {% endfor %}

                                    <div class="col-12 col-lg-6">
                                        {{new_user.password1.label_tag}}
                                        {{new_user.password1}}
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        {{new_user.password2.label_tag}}
                                        {{new_user.password2}}
                                    </div>
                                    {% for error in new_user.password1.errors %}
                                    <section class="alert alert-danger col-12" role="alert">
                                        {{ new_user.password1.errors }}
                                    </section>
                                    {% endfor %}

                                </div>
                                <div class="d-flex p-2 bd-highlight">
                                    <div class="col-12 text-center">
                                        <button class="btn btn-green" type="submit">Criar sua conta</button>
                                        {% csrf_token %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% include 'partials/_footer.html' %}

{% endblock %}