{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_header.html' %}

{% include 'partials/_adm.html' %}

<form action="{% url 'editar_usuario' %}" method="POST">

    <div class="container center_div">
        <div class="row">
            <div div class="col-12 col-lg-10">
                {{ form.first_name.label }}
                {{ form.first_name }}
            </div>
            <div div class="col-12 col-lg-10">
                {{ form.last_name.label }}
                {{ form.last_name }}
            </div>
            <div div class="col-12 col-lg-10">
                {{ form.email.label }}
                {{ form.email }}
            </div>
            {% for error in erro.email.errors %}
                <section class="alert alert-danger col-12 col-lg-10" role="alert">
                    {{ erro.email.errors }}
                </section>
            {% endfor %}
            <input type="hidden" class="form-control" name="password" value="{{form.password.value}}" maxlength="254" id="id_password">

        </div>
        <div class="d-flex p-2 bd-highlight">
            <div class="col-12 text-center">
                <button class="btn btn-green" type="submit">Salvar</button>
                {% csrf_token %}
            </div>
        </div>
    </div>
</form>

{% include 'partials/_footer.html' %}

{% endblock %}